<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" *ngIf="isCurrentUserAuth">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/writers">Writers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto justify-content-end">

      <ng-template [ngIf]="isCurrentUserAuth" [ngIfElse]="login">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users/{{currentUser.id}}">{{currentUser.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users/{{currentUser.id}}/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="logout()">Log Out</a>
        </li>
      </ng-template>

      <ng-template #login>
        <a class="nav-link" href="/login">Login</a>
      </ng-template>

    </ul>

  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>